
body {
    background: url('../images/VHehxvo.png') center;
    overflow-x: hidden;
}

canvas{ 
        background-image: url('../images/background.gif');
    }
#number {
    font-size:50px;
    color:#434343;
    }
button{
    color: transparent;
    border: 0px;
}
.Aparecer{
    color: blue;
    border: 1px solid black;
    margin-top: 40%;
    font-size: 20px;
}
.col-md-7{
    margin-left: 5%;
    margin-top: 5%;
}
